@{
    ViewBag.Title = "Home Page";
    var quizzes = (List<Quiz>)ViewData["quizzes"];
}

<div class="container" style="margin-top:5%;margin-bottom:5%;">
    <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@Href("~/images/homeCarousal/1.jpg")" class="d-block w-100" style="height:60vh;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>A wise man once said</h5>
                    <p>
                        “One day, all your hard work will pay off.”
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="@Href("~/images/homeCarousal/2.jpg")" class="d-block w-100" style="height:60vh;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Another wise man once said</h5>
                    <p>
                        “Do what is right, not what is easy.”
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="@Href("~/images/homeCarousal/3.jpg")" class="d-block w-100" style="height:60vh;"  alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>A third wise man once said</h5>
                    <p>“Life is short. Live it. Fear is natural. Face it. Memory is powerful. Use it.”</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (Quiz quiz in quizzes)
        {
            <div onclick="window.location.href='@Href("~/quiz/examine/" + quiz.id)';" class="col-sm-6 col-lg-4 mb-4">
                <div class="card">
                    @if (quiz.image != "no")
                    {
                        <img src="@Href("~/images/quizzes/")@quiz.image" style="height:40vh;" class="card-img-top" alt="@quiz.Name">
                    }

                    <div class="card-body">
                        <h5 class="card-title">@quiz.Name</h5>
                        <p class="card-text">@quiz.description</p>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
